{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <form class='login-form'>
    <div class="flex-row logo">
    <h1>LOGO</h1>
  </div>
  <div class="flex-row">
    <input id="username" class='lf--input' placeholder='Your username' type='text'>
  </div>
  <div class="flex-row">
    <input id="password" class='lf--input' placeholder='Your password' type='password'>
  </div>
  <input class='lf--submit' type='submit' value='Sign Up'>
  <a class='lf--forgot' href='#'>Already throwing balls? Log In</a>
</form>
  
  
</body>
</html>
