{% load static %}
<div class="product-container">
    {% for model in products %}
        <div class="product-item">
        <div class="product-card">
            {% if user.is_super_category %}
        <div class="product-author">{{ model.name }}</div>
            {% endif %}
        <div class="product-tittle">{{ model.tittle }}</div>
        <div class="product-src"><img src="{{ model.src }}" alt="{{ model.src }}"></div>
        <div class="product-footer">
        <div class="product-price">{{ model.get_price_grv }} <span>грн</span></div>
        <button onclick="DeleteItem(this)" class="btn-delete" value="{{ model.pk }}">DELETE</button>
        </div>
        </div>
        </div>
    {% endfor %}
</div>

